.features {
  margin-top: -60px;
}

.container-form .box:hover {
  transform: scale(1.03);
}

.container-form .box .user img {
  border-radius: 50%;
  object-fit: cover;
  height: 7rem;
  width: 7rem;
  margin-top: 2rem;
}

.container-form .box .user h3 {
  color: var(--blue);
  font-size: 2rem;
}

ul .active{
  color: #2dd4bf;
}
